
.how-container{
    background-color: #58D592;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 30px;
    min-height: 300px;
}

.how-container h1{
    text-align: center;
}

.steps-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
}

.stepOne, .stepTwo, .stepThree{
    display: flex;
    background-color: var(--tertiary-color);
    height: 200px;
    width: 200px;
    border-radius: 10%;
    margin: 5px;
    padding: 30px;
    text-align: center;
    font-weight: 500;
}

.howContainer p {
  

}
