.stepContainer{
    background-color: #58D592;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.stepOne{
    display: flex;
    background-color: gray;
    height: 180px;
    width: 120px;
    border-radius: 10%;
    margin: 5px;
}

.stepTwo{
    display: flex;
    background-color: gray;
    height: 180px;
    width: 120px;
    border-radius: 10%;
    margin: 5px;
}

.stepThree{
    display: flex;
    background-color: gray;
    height: 180px;
    width: 120px;
    border-radius: 10%;
    margin: 5px;
}

p {
    text-align: left;
    
}